<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <p>color: {{color}}</p>  
  <p>year: {{year}}</p>  
  <p>brand: {{brand}}</p> 
  <p>fib: {{fib}}</p> 
  <table>
    <tr style="border: red 2px solid;">
      <td style="border: red 2px solid;">row</td> <td style="border: red 2px solid;">fibonachi</td>
    </tr>
    {% for item in fib %}
    <tr style="border: red 2px solid;">
      <td style="border: red 2px solid;">{{forloop.counter}}</td> <td style="border: red 2px solid;">{{item}}</td>
    </tr>
    {% endfor %}
  </table>
</body>
</html>